<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807986924669-snqvgt5a9iv24i65r858p8aan0rpc7cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807986924669-snqvgt5a9iv24i65r858p8aan0rpc7cn</string>
	<key>API_KEY</key>
	<string>AIzaSyB-yjxZXfe-Am5RdzNCoG7gJ5QSK9sYcd0</string>
	<key>GCM_SENDER_ID</key>
	<string>807986924669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.solacellanalysin</string>
	<key>PROJECT_ID</key>
	<string>solacellanalysis</string>
	<key>STORAGE_BUCKET</key>
	<string>solacellanalysis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807986924669:ios:f974e2f63e29b687183514</string>
</dict>
</plist>